:root {
  --text-color: #fafafa;
  --bg-color: #202328;
  --cyan-white-color: #d1e0fb;
  --cyan-lighter-color: #377dff;
  --plate-color: #26292d;
  --circle-color: #2b3037;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  width: 1275px;
  margin: 0 auto;
}

.btn {
  background-color: var(--cyan-lighter-color);
  border-radius: 8px;
  color: var(--text-color);
  font-size: 16px;
  border: 1px solid transparent;
  cursor: pointer;
  height: 40px;
  font-weight: 500;
}

.btn-secondary {
  border-color: var(--cyan-lighter-color);
  background-color: transparent;
}

.big {
  height: 46px;
  padding: 5px 30px;
  font-weight: 600;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  background-color: var(--cyan-lighter-color);
  font-size: 28px;
  display: flex;
  align-items: baseline;
  padding: 30px 30px 25px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
}

.logo .l1 {
  font-family: 'Pacifico', cursive;
}
.logo .l2 {
  font-family: 'Poppins', sans-serif;
}

/* Navigation */
nav {
  display: flex;
  align-items: center;
}

nav a {
  color: var(--cyan-white-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  margin-right: 60px;
}

nav a:hover {
  text-decoration: underline;
}

.nav-group {
  position: relative;
  padding-right: 50px;
  font-weight: 500;
  color: var(--cyan-white-color);
  cursor: pointer;
}

.top {
  display: flex;
  align-items: end;
}

.top img {
  height: 11px;
  width: auto;
  margin-left: 9px;
}

.nav-group:hover .naw-items {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.nav-group:hover img {
  transform: rotate(180deg);
}

.naw-items a {
  margin: 0;
  padding: 5px;
  font-weight: 500;
  font-size: 14px;
}

.naw-items {
  display: none;
  padding: 5px 0;
}

/* Main */
main {
  padding: 170px 15px 0;
  position: relative;
}

.welcome {
  margin-left: 120px;
  margin-bottom: 15px;
  font-size: 11px;
  text-transform: uppercase;
  color: var(--cyan-lighter-color);
}

.s1 {
  padding: 0 115px;
  height: 100px;
  background-color: var(--cyan-lighter-color);
  border-bottom-left-radius: 105px;
  border-top-right-radius: 105px;
  display: flex;
  align-items: center;
}

.s1 h1 {
  width: 335px;
  font-size: 30px;
  line-height: 38px;
}

.description {
  margin-left: 115px;
  width: 335px;
  margin-top: 30px;
  line-height: 28px;
}

.s2 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.buttons {
  margin-left: 115px;
}

.buttons .btn {
  width: 130px;
  margin-right: 8px;
  font-size: 15px;
}

.bluebox {
  height: 100px;
  width: 770px;
  background-color: var(--cyan-lighter-color);
  border-bottom-left-radius: 105px;
  border-bottom-right-radius: 105px;
}

/* Plates */
.plates {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  justify-content: space-between;
  position: absolute;
  top: 135px;
  right: 80px;
}

.plate {
  width: 200px;
  height: 225px;
  margin-bottom: 25px;
  padding: 18px;
  background-color: var(--plate-color);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.plate h2 {
  font-weight: 600;
  margin: 20px 0;
  font-size: 15px;
}

.plate p {
  font-size: 11px;
  line-height: 20px;
}

.circle {
  height: 75px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--circle-color);
  border-radius: 50%;
}

.circle img {
  width: 50px;
  height: auto;
}